<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si fichier existe → OK
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Sinon → Symfony
    RewriteRule ^ index.php [QSA,L]
</IfModule>